@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aplicacion De Registro Hospital</h1>
    <p>Bienvenido a la aplicacion de registro hospitalario</p>
	<div class="mt-4">
		<a class="btn btn-primary" href="@Url.Action("Create", "Pacientes")">Agregar Paciente</a>
		<a class="btn btn-secondary" href="@Url.Action("Index", "Pacientes")">Pacientes</a>
	</div>
</div>
