@model Parcial_1__Programacion.Models.Paciente

@{
    ViewData["Title"] = "Create";
}

<h1 class="titulo text-center">CREAR PACIENTE</h1>
<div class="d-flex justify-content-center CrearPaciente">
    <div class=" p-4" style="min-width: 400px;">
        <h4 class="card-title mb-3">Datos del Paciente</h4>
    <hr />
    <div class="row">
        <div class="col-md-4 w-100">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Edad" class="control-label"></label>
                    <input asp-for="Edad" class="form-control" />
                    <span asp-validation-for="Edad" class="text-danger"></span>
                </div>
    @*             <div class="form-group">
                    <label asp-for="IdObrasocial" class="control-label"></label>
                    <input asp-for="IdObrasocial" class="form-control" />
                    <span asp-validation-for="IdObrasocial" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    Obra Social:
                    <select asp-for="IdObrasocial" class="form-control" asp-items="ViewBag.Obrassociales"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Sintomas" class="control-label"></label>
                    <input asp-for="Sintomas" class="form-control" />
                    <span asp-validation-for="Sintomas" class="text-danger"></span>
                </div>
                    <hr />
                <div class="d-flex justify-content-center " style="padding-top: 7px;">
                        <input type="submit" value="Create" class="btn btn-primary btngradient w-100" />
                </div>

            </form>
        </div>
    </div>

        <div class="d-flex justify-content-center">
            <a class=" text-light text-decoration-none p-1" asp-action="Index">Volver a la lista</a>
    </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
